# Node.js
node_modules/

# Logs
logs
*.log
*.log.*

# Optional npm cache directory
.npm

# IDE and editor specific files
.vscode/

# Miscellaneous
.DS_Store
Thumbs.db

# Environment variables
.env

.gitignore
